@import url('https://www.vlfoto.ru/collection/bumazhnye-fony/product/fst-272x11-new-grey-svetlo-seryy-1007');

  body {
  color: #ffffff;
  background: url('images/bg.jpg') no-repeat center center fixed;
  /*1920/1600*/
  background-size: cover; 
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 70px;
    margin: 0;
  }

  .logo {
    display: block;
    display: block;
    border-radius: 10px;
  }

.container {
  max-width: 1500px; /* Ширина контента */
  margin: 0 auto;    /* Центрирует блок и создает пустые полосы */
  background-color: #C0C0C0; /* Цвет основной части */
  min-height: 100vh; /* Растягивает блок до низа экрана */
  box-shadow: 0 0 100px rgba(0,0,0,0.1); /* тень по бокам */
  }


/* Контейнер для кнопок */
.main-menu {
  display: flex;            /* Выстраивает элементы в ряд */
  justify-content: center;   /* Центрирует меню */
  gap: 25px;                 /* Расстояние между кнопками */
  margin: 20px 0;  
  }

/* Стиль самих кнопок */
.nav-button {
  text-decoration: none;     /* Убирает подчеркивание ссылки */
  color: white;              
  background-color: #808080; 
  padding: 10px 20px;        /* Внутренние отступы (высота и ширина) */
  border-radius: 10px;        /* Скругление углов */
  font-weight: bold;
  transition: 0.1s;          /* Плавность при наведении */
  }

/* Эффект при наведении курсора */
.nav-button:hover {
  background-color: #fff0f5;    
  transform: scale(1.05);    /* Кнопка чуть-чуть увеличивается */
  }

  .info-block {
  background-color: #808080; 
  color: #ffffff;            
  padding: 20px;             
  border-radius: 10px;       
  margin: 20px 0;            /* Отступы снаружи (сверху и снизу) */
  line-height: 1.6;          /* Межстрочный интервал для читаемости */
  
  /* Внутренняя тень для эффекта "вдавленности" */
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
  
  /* Опционально: тонкая рамка, чтобы подчеркнуть границы */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.info-bottom {
  text-align: center;
  font-size: 14px;
  padding-bottom: 5px;
}

.booking-form {
  text-align: center;
}



